{% extends 'core/base.html'%}

{% block title %} A cerca de {%endblock%}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg'%}{% endblock %}

{% block headers%}
<h1>A cerca de autor</h1>
<span class="subheading">Moises Aruquipa Amaru</span>

{% endblock%}

{% block content %}

<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/moises.jpg'%}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Moises Aruquipa Amaru</h2>
    <p>Nacido en Chojasivi abril de 1996</p>
    <p>Desde la infancia siempre me gustaba la tecnologia, Asi mismo tambien me gusta la musica, creo fueron partes escenciales de mi vida</p>
  </div>
</div>
{% endblock %}
