{% extends 'core/base.html'%}
{% block title %} Contacto {%endblock%}
{% block background %}{% load static %}{% static 'core/img/contacto.jpg'%}{% endblock %}


{% block headers%}
<h1>Contacto</h1>


{% endblock%}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>La Unidad Educativa se encuentra en la Provincia Los Andes, municipio Pucarani. Actualmente cuenta con 2 especialidades: Informatica y Agropecuaria. Los cuales se optan desde quinto de secundaria</p>
    <br>
    <p><b>Whatsapp:</b> +591 7758848</p>
    <p><b>Facebook:</b> http://facebook.com/</p>
  </div>
</div>
{%endblock%}
